*{
    margin: 0;
    padding: 0;
}

/* header */
.logoheader{
    height: 8rem;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding-right: 2rem;
    padding-left: 3rem;
}

.loginregis{
    display: flex;
    flex-direction: row;
}

.login{
    background-color: #005df9;
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 1rem;
}

.regis{
    background-color: #005df9;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-left: 2rem;
    padding: 1rem;
}

.loginregis a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

/* navbar */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    min-width: 100%;
}

.menu{
    width: fit-content;
    height: fit-content;
    padding: 2rem 3rem;
}

.menu:hover{
    background-color: blue;
}

.active{
    background-color: #eb0505;
}

.menu a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}

.dropdown:hover{
    background-color: blue;
}
  
.dropdown .dropbtn {
    font-size: 1.5rem;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    padding: 2rem 3rem;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1;
    height: fit-content;
    width: fit-content;
}
  
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 2rem;
}
  
.dropdown-content a:hover {
    background-color: blue;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* footer */
.footer{
    background-color: #f5f5f5;
    width: 99.9%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contact{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-left: auto;
}

.contact img{
    height: 2rem;
    margin-left: 1rem;
}

.newsletter{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid black;
    padding: 0.2rem;
    width: 40rem;
    margin-right: 2rem;
    margin-left: 1rem;
}

.newsletter label{
    font-size: 2rem;
    font-weight: bold;
}

.newsletter input{
    margin-top: 0.5rem;
    width: 75%;
    padding-left: 3rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.newsletter button{
    margin-top: 0.5rem;
    background-color: blue;
    color: white;
    width: max-content;
    padding: 0.5rem 1rem;
}

footer p{
    margin-top: 2rem;
    text-align: center;
    background-color: blue;
    width: 100%;
    height: fit-content;
    color: white;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* home */
.content{
    background-image: url(../images/Alphard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;;
    width: 100%;
    height: 65rem;
}

.textcontent{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    top: 25%;
}

.textcontent h1{
    color: white;
    font-size: 4.5rem;
    text-align: center;
}

.blue{
    color: blue;
}

.textcontent h2{
    color: white;
    font-size: 3rem;
    background-color: #489de8;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-top: 2rem;
}

.textcontent a{
    color: white;
    background-color: #489de8;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: 0.1rem solid white;
    margin-top: 2rem;
    text-decoration: none;
}

/* login */
.formlogin{
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.formlogin h1{
    text-align: center;
    font-size: 3rem;
}

.formlogin label{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}

.formlogin input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 15rem;
    height: 2rem;
    margin: auto;
    margin-top: 1rem;
}

.formlogin button{
    width: 8rem;
    height: 3rem;
    margin: auto;
    margin-top: 1.5rem;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
}

.formlogin p{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
}

/* register */
.formregister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 70%;
    margin: auto;
}

.formregister h1{
    font-size: 3rem;
    text-align: center;
}

.formregister label{
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.formregister .linetype{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 100%;
    margin-top: 1rem;
    height: 2rem;
}

.radio input{
    margin-top: 0.5rem;
    width: 1.5rem;
}

.address{
    margin-top: 0.5rem;
    width: 100%;
    height: 5rem;
}

.formregister select{
    width: 100%;
    height: 1.5rem;
    margin-top: 0.5rem;
}

.formregister button{
    width: 8rem;
    height: 3rem;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 1.5rem;
}

/* Contact */
.messagecontact h1{
    margin-top: 3rem;
    text-align: center;
    font-size: 4rem;
}

.contactus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
}

.formcontact{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    background-color: rgba(207, 206, 192, 0.2);
    margin-right: 2rem;
}

.identity{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.identity input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.message{
    display: flex;
    flex-direction: column;
}

.message button{
    width: 8rem;
    height: 2.5rem;
    color: white;
    background-color: blue;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 0.5rem;
}

.sosmed{
    padding: 2rem;
}

.media{
    margin-top: 2rem;
}

/* Product */
.cars{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 5rem;
}

.cars h1{
    font-size: 5rem;
}

.cars p{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.carlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}

.cartype{
    border: 0.2rem solid black;
    margin-left: 2rem;
    padding: 1rem;
}

.cartype p{
    font-size: 2rem;
}

.cartype img{
    height: 8rem;
}

@media only screen and (max-width: 600px){
    .loginregis{
        display: flex;
        flex-direction: row-reverse;
    }

    .header img{
        margin-left: 25%;
    }

    .regis{
        margin-left: auto;
    }

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .menu a{
        color: white;
        font-size: 1rem;
        text-decoration: none;
    }

    .dropdown .dropbtn{
        font-size: 1rem;
    }

    .dropdown-content a {
        padding: 1.23rem;
    }

    .newsletter{
        width: 20rem;
    }

    .carlist{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5rem;
    }

    .cartype{
        margin-top: 2rem;
        margin-left: 0;
    }

    .contactus{
        display: flex;
        flex-direction: column;
    }

    .formcontact{
        display: flex;
        flex-direction: column;
    }

    .message{
        margin-top: 2rem;
    }
}